<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
  <menu id="Other" label="Other" icon="applications-other">
    <item label="bar" icon="bar">
      <action name="Execute"><command>bar</command></action>
    </item>
    <item label="baz" icon="baz">
      <action name="Execute"><command>baz</command></action>
    </item>
    <item label="foo" icon="foo">
      <action name="Execute"><command>foo</command></action>
    </item>
  </menu> <!-- Other -->
</menu> <!-- root-menu -->
</openbox_menu>
